/target

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work

# Binaries
bin/

# Data
data/*.db
data/*.sqlite

# Exports (commented out for now, uncomment if you want to ignore exports)
# *.json
# *.csv
